version: "3.9"

services:
  db:
    image: postgres:15-alpine
    container_name: postgres-alexsandropereiragarcia002527
    environment:
      POSTGRES_DB: seletivoSeplagalexsandropereiragarcia002527
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d seletivoSeplagalexsandropereiragarcia002527"]
      interval: 10s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio:latest
    container_name: minio-alexsandropereiragarcia002527
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  api:
    build:
      context: .
    container_name: seletivo-api-alexsandropereiragarcia002527
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/seletivoSeplagalexsandropereiragarcia002527
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 123456
      MINIO_URL: http://minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET: album-capas
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
      minio:
        condition: service_started

volumes:
  postgres_data:
  minio_data: